<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 注解扫描包 -->
    <context:component-scan base-package="com.java.springMVC"></context:component-scan>
    <!--  静态文件访问默认  -->
    <mvc:default-servlet-handler />
    <mvc:annotation-driven />
    <!--  jsp解析器  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="suffix" value=".jsp"></property>
        <property name="prefix" value="/WEB-INF/page/jsp/"></property>
    </bean>
    <!-- 自定义解析器 -->
    <bean class="com.java.springMVC.viewResolver.MyViewResolver" >
        <!-- 自定义启动器执行顺序，数字越大执行越后  -->
        <property name="order" value="1" />
    </bean>
</beans>